node_modules/
.env
.env.local
*.local

# build output
dist/
build/
.next/
out/
*.tsbuildinfo

# prisma
packages/db/generated/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS
.DS_Store
Thumbs.db
*.pem

# editors
.vscode/
.idea/
.claude/

# vercel
.vercel
